---
version: 2.1

tag-trigger: &tag-trigger
  tags:
    only: /^v.*/

commands:
  setup-bundler:
    steps:
      - run:
          name: setup bundler
          command: |
            sudo gem update --system
            sudo gem uninstall bundler
            sudo rm /usr/local/bin/bundle || true
            sudo rm /usr/local/bin/bundler || true
            sudo gem install bundler --version 2.3.5

  install_dependencies:
    steps:
      - restore_cache:
          keys:
            - v3-dependencies-{{ checksum "Gemfile" }}
            # fallback to using the latest cache if no exact match is found
            - v3-dependencies
      - run:
          name: Install dependencies
          command: |
            bundle install --jobs=3 --retry=3 --path vendor/bundle
      - save_cache:
          key: v3-dependencies-{{ checksum "Gemfile" }}
          paths:
            - ./vendor/bundle

  unittests:
    steps:
      - setup-bundler
      - install_dependencies
      - run:
          name: Run unittests
          command: |
            bundle exec rake
jobs:
  ruby-30-unittest-coverage:
    docker:
      - image: cimg/ruby:3.0
    working_directory: ~/repo
    environment:
      COVERAGE: true
    steps:
      - checkout
      - unittests
  ruby-30-unittest:
    docker:
      - image: cimg/ruby:3.0
    working_directory: ~/repo
    steps:
      - checkout
      - unittests
  push-rubygems:
    docker:
      - image: cimg/ruby:3.0
    working_directory: ~/repo
    steps:
      - checkout
      - run:
          name: Setup Rubygems
          command: bash .circleci/setup-rubygems.sh
      - run:
          name: Publish to Rubygems
          command: |
            gem build 3scale-api.gemspec -o "3scale-api-$(git describe --tags).gem"
            gem push "3scale-api-$(git describe --tags).gem"

workflows:
  version: 2
  tests:
    jobs:
      - ruby-270-unittest-coverage:
          filters:
            <<: *tag-trigger
          context: autotestaccount
      - push-rubygems:
          requires:
            - ruby-30-unittest-coverage
          filters:
            <<: *tag-trigger
            branches:
              ignore: /.*/
  nightly:
    triggers:
      - schedule:
          cron: "0 0 * * *"
          filters:
            branches:
              only:
                - main
    jobs:
      - ruby-30-unittest:
          context: autotestaccount
